<!DOCTYPE html>
<html ng-app="app">
  <head>
    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css" />

  </head>
  <body>

    <ng-view></ng-view>
    <!-- Templates  -->
    <script type="text/ng-template" id="/projects.html">
        <!-- styles -->
        <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css" />
        <!-- {{ projects }} -->

        <div class="container">
        <h2>Projects</h2>
        <table class="table table-bordered table-hover ">
          <thead>
            <tr class="danger">
              <th>Project Name</th>
              <th>ProjectID</th>
              <th>Description</th>
              <th>Client</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in projects">
              <td> {{ project.ProjectName }} </td>
              <td> {{ project.ProjectId }}</td>
              <td> {{ project.ProjectDescription }}</td>
              <td> {{ project.ProjectClient }}</td>
            </tr>
          </tbody>
        </table>
        <h2>Create New Project</h2>
        <form class="form-vertical" role="form" ng-submit="createProject()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="project_name">Project Name</label>
                        <input type="text" class="form-control" ng-model="project.ProjectName" />
                    </div>
                    <div class="form-group">
                        <label>Project ID</label>
                        <input type="number" class="form-control" ng-model="project.ProjectId" />
                    </div>
                    <div class="form-group">
                        <label>Project Description</label>
                        <input type="text" class="form-control" ng-model="project.ProjectDescription" />
                    </div>
                    <div class="form-group">
                        <span>Project Disabled</span>
                        <input type="checkbox" ng-model="project.ProjectDisabled" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Client</label>
                        <input type="text" class="form-control" ng-model="project.ProjectClient" />
                    </div>
                    <div class="form-group">
                        <label>Project Creator ID (enter 82)</label>
                        <input type="number" class="form-control" ng-model="project.ProjectCreatorId" />
                    </div>
                    <div class="form-group">
                        <label>Project Manager ID (enter 82)</label>
                        <input type="number" class="form-control" ng-model="project.ProjectManagerId" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Create New" />
                    </div>
                </div>
            </div>
        </form>
            </div>
        </div>
        </div>
    </script>



    <script>
        angular.module('app', ['ngRoute', 'ngResource'])

        /* Services */
        .factory('Projects', ['$resource', ($resource) => {
            return $resource('/projects/:id', null, {
                'update': {method: 'PUT'}
            });
        }])

        /* Controllers */
        .controller('ProjectController', ['$scope', 'Projects', ($scope, Projects) => {
            $scope.projects = Projects.query();

            // create a new project
            $scope.createProject =  () => {
                var project = new Projects($scope.project);
                project.$save(() => {
                    // $scope.projects.push(project);
                    $scope.refresh();
                });
            };

            /* delete a project */
            $scope.deleteProject = (project_id) => {
                // get the project to delete
                Projects.get({ where: { ProjectId: project_id} }, (project) => {
                    // console.log(project);
                    // // delete it and refresh the listing
                    // project.$delete(() => {
                    //     $scope.refresh();
                    // });
                });
            }

            // refresh the scope to reflect database changes
            // and reset fields
            $scope.refresh = () => {
                $scope.projects = Projects.query();
                $scope.project = "";
            };
        }])

        /* routes */
        .config(['$routeProvider', ($routeProvider) => {
            $routeProvider
                .when('/', {
                    templateUrl: '/projects.html',
                    controller: 'ProjectController'
                })
        }])
    </script>
  </body>
</html>
